.swiper-slide img {
  display: block;
  width: 600px;
  height: 600px;
  object-fit: cover;
}
.swiper2 {
  height: 20%;
  margin-top: 20px;
}
.swiper2 .swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper2 .swiper-slide img {
  width: 150px;
  cursor: pointer;
  height: 130px;

  object-fit: cover;
  display: block;
}
