.snack-bar-menu {
  background-color: var(--white);
  position: absolute;
  height: 100%;
  width: 400px;
  color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  z-index: 2;
}
.links-container {
  display: flex;
  height: 50%;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  li {
    font-size: 30px;
    transition: transform ease-in-out 0.2s;
    cursor: pointer;
  }
  li:hover {
    transform: scale(1.05);
  }
}
.cross-icon {
  color: black;
  width: 40px;
  cursor: pointer;
  height: 40px;
}
