.container {
  width: 80%;
  max-height: 700px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.container {
}
.current-img {
  height: 70%;
  max-height: 470px;
  cursor: pointer;
  max-width: 550px;
  border-radius: 20px;
  object-fit: cover;
}
.img-list {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  img {
    border-radius: 10px;
    cursor: pointer;
    height: 110px;
    max-width: 220px;
  }
}

.active-img {
  filter: sepia(20%);
  border: 3px solid var(--orange);
}
@media (max-width: 780px) {
  .container {
    display: none;
  }
}
