.snack-bar-menu-entering {
  animation: snack-bar-menu-transfrom 0.3s;
}

.snack-bar-menu-exiting {
  animation: snack-bar-menu-transfrom 0.3s reverse;
}

@keyframes snack-bar-menu-transfrom {
  from {
    transform: translateX(-330px);
  }

  to {
    left: translateX(330px);
  }
}
